<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/editarPerfil.css">


    <title>Editar Perfil</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../assets/SAR-logo.png" alt="">
        </div>

        <span class="logo_name">SAR</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="#">
                <i class="uil uil-estate"></i>
                <span class="link-name">Home</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Refugiados</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name">Voluntários</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Asset</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Editar perfil</span>
            </a></li>

            <li class="mode">
                <a href="../templates/home.html">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <span class="text">Alterar Informações</span>
            </div>
            <div class="caixa1">
                <span class="text">Nome da Instituição: </span>
                <span class="text">Exemplo de Nome</span>
            </div>
            <br>
            <div class="caixa2">
                <span class="text">CNPJ: </span>
                <span class="text">12313123123</span>
            </div>
            <br>
            <div class="caixa3">
                <span class="text">CEP: </span>
                <span class="text">71907-000</span>
            </div>
            <br>
            <div class="caixa4">
                <span class="text">Nome do Representante: </span>
                <span class="text">Rogerinho</span>
            </div>
        </div>
    </div>
</section>

<script src="../dist/perfilEmpresa.js"></script>
</body>
</html>