<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../styles/formularioInstituicao.css">
</head>
<body>
<div class="form">
  <h2>
    Cadastre sua Instituição
  </h2>
  <form class="login-form">
    <input type="text" name="nomeInstituicao" placeholder="Nome da Instituição "/>
    <input type="text" name="cnpj" placeholder="CNPJ">
    <input type="text" name="documentacao" placeholder="CEP"/>
    <input type="tel" name="cpfRepresentante" placeholder="CPF do Representante">
    <input type="text" name="idTrabalhador" placeholder="ID do Trabalhador">
    <input type="text" name="contato" placeholder="Número para contato">
    <input type="email" name="email" placeholder="Email"/>
    <input type="password" name="senha" placeholder="Senha"/>
    <input type="password" placeholder="Confirme a senha"/>
    <a href="../templates/homePerfil.html" class="custom-button">Cadastrar</a>
    <p class="message">Já possui uma conta? <a href="../templates/login.html">Faça login</a></p>
  </form>
</div>
<script src="../dist/formulario.js"></script>
</body>
</html>
