<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../styles/formularioInstituicao.css">
</head>
<body>
<div class="form">
  <h2>
    Cadastre sua Instituição
  </h2>
  <form class="login-form" action="http://localhost:8080/api/formulario/instituicao" method="POST">
    <input type="text" name="nome" placeholder="Nome da Instituição" required/>
    <input type="text" name="cnpj" placeholder="CNPJ" required/>
    <input type="text" name="cep" placeholder="CEP" required/>
    <input type="text" name="telefone" placeholder="Número para contato" required/>
    <input type="email" name="email" placeholder="Email" required/>
    <input type="password" name="senha" placeholder="Senha" required/>
    <input type="password" placeholder="Confirme a senha" required/>
    <button type="submit" class="custom-button">Cadastrar</button>
    <p class="message">Já possui uma conta? <a href="../templates/login.html">Faça login</a></p>
  </form>
</div>
<script src="../dist/formularioInstituicao.js"></script>
</body>
</html>
