<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../styles/formularioRefugiado.css">
</head>
<body>
<div class="form">
  <h2>
    Dados do Refugiado
  </h2>
  <form class="login-form">
    <input type="text" name="nomeCompleto" placeholder="Nome do Refugiado "/>
    <input type="text" name="pais" placeholder="País">
    <input type="text" name="documentacao" placeholder="Documento"/>
    <input type="date" name="dataNascimento" placeholder="Data de nascimento">
    <input type="tel" name="formacao" placeholder="Formação">

    <a href="../templates/seusRefugiados.html" class="custom-button">Cadastrar</a>
  </form>
</div>
<script src="../dist/formulario.js"></script>
</body>
</html>