<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="Nome completo"/>
            <input type="text" placeholder="Email"/>
            <input type="text" placeholder="CPF"/>
            <input type="password" placeholder="Senha"/>
            <input type="password" placeholder="Confirme a senha"/>
            <input type="text" placeholder="País"/>
            <input type="text" placeholder="CEP"/>
            <button>Cadastrar</button>
            <p class="message">Já possui uma conta? <a href="#">Faça login</a></p>
        </form>
    </div>
    <script src="../dist/example.js"></script>
</body>
</html>
