<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SAR</title>
        <link rel="stylesheet" href="../styles/homePage.css">

    </head>
    <body>
        <header id="logo">
            <a href="../templates/homePage.html">
                <img src="../assets/SAR-logo.png" alt="App-logo">
            </a>
            <div id="menu">
                <a href="../templates/login.html" id="loginLink">LOGIN</a> |
                <a href="../templates/formularioVoluntario.html">VOLUNTARIA-SE</a>
            </div>
        </header>

        <div id="containter">
            <h1>Sistema de assistência de pessoas refugiadas no Brasil</h1>
            <h2>Clique aqui para fazer a diferença</h2>
        </div>

        <div id="btn">
            <a href="../templates/formularioInstituicao.html" class="custom-button">Torne-se uma instituição amiga</a>
        </div>

        <div id="container2">
            <div id="texto1">
                <h3>Sobre o Projeto:</h3>
                <p>O sistema de assistência de pessoas refugiadas tem o objetivo de organizar e alocar essas pessoas pelo país, com o objetivo de impedir que haja superlotação de áreas do país e que os refugiados fiquem em situação de rua e más condições de vida.</p>
            </div>

            <div id="texto2">
                <h3>Quero participar:</h3>
                <p>Para poder ajudar todos os que tem o objetivo de participar o projeto, desenvolvemos um sistema que permite que qualquer usuário com as informações mínimas consegue se cadastrar. Sendo instituições que ajudam os refugiados ou eles mesmos por conta próprio caso tenham acesso aos recursos necessários, assim basta seguir o tutorial abaixo.</p>
            </div>
        </div>

        <div id="tutorial">
            <div id="video">
                <h2>Entenda como começar</h2>
                <video src="../assets/SARvideo.mp4"
                       controls
                       width="1000"
                       autoplay
                       muted>
                </video>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Sistema de assistência aos refugiados. Todos os direitos reservados.</p>
                <div class="footer-links">
                    <a href="privacy-policy.html">Política de Privacidade</a> |
                    <a href="terms-of-service.html">Termos de Serviço</a> |
                    <a href="contact.html">Contato</a>
                </div>
            </div>
        </footer>
    <script src="../dist/homePage.js"></script>
    </body>
</html>