<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../styles/homePerfil.css">


  <title>Painel de perfil da empresa</title>
</head>
<body>
<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="../assets/SAR-logo.png" alt="">
    </div>

    <span class="logo_name">SAR</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li><a href="../templates/homePerfil.html">
        <i class="uil uil-estate"></i>
        <span class="link-name">Home</span>
      </a></li>
      <li><a href="../templates/sessaoRefugiados.html">
        <i class="uil uil-files-landscapes"></i>
        <span class="link-name">Refugiados</span>
      </a></li>
      <li><a href="../templates/sessaoVoluntarios.html">
        <i class="uil uil-chart"></i>
        <span class="link-name">Voluntários</span>
      </a></li>
    </ul>

    <ul class="logout-mode">
      <li><a href="editarPerfil.html">
        <i class="uil uil-signout"></i>
        <span class="link-name">Editar perfil</span>
      </a></li>

      <li class="mode">
        <a href="../templates/homePage.html">
          <i class="uil uil-moon"></i>
          <span class="link-name">Sair</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<section class="dashboard">
  <div class="dash-content">
    <div class="overview">

      <h1> Bem Vindo, "Nome da Empresa"</h1>
      <br><br>
      <div class="boxes">
        <div class="box box1">
          <i class="uil uil-thumbs-up"></i>
          <span class="text">Voluntários</span>
        </div>
        <div class="box box2">
          <i class="uil uil-comments"></i>
          <span class="text">Refugiados</span>
        </div>

      </div>
    </div>

    <div class="activity">
      <div class="title">
        <span class="text">Clique em “Voluntários” para  ver a lista, cadastrar, atualizar e excluir as informações dos Voluntários</span>
        <span class="text">Clique em “Refugiados” para  ver a lista dos Refugiados, cadastrar, atualizar e excluir as informações dos Refugiados</span>
      </div>
</section>

<script src="../dist/perfilEmpresa.js"></script>
</body>
</html>