<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
<div class="form">
    <img src="../assets/logo.png" alt="logo" class="logo">
    <form class="login-form" id="loginForm" action="../templates/home.html">
        <input type="text" placeholder="email" required name="email" id="email"/>
        <input type="password" placeholder="senha" required name="senha" id="senha"/>
        <a href="../templates/homePerfil.html" class="custom-button">Cadastrar</a>
        <p class="message">Não possui cadastro? <a href="../templates/formulario.html">Crie uma conta</a></p>
    </form>
</div>
<script src="../dist/login.js"></script>
</body>
</html>
