<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="form">
        <form class="login-form">
        <input type="text" placeholder="email"/>
        <input type="password" placeholder="senha"/>
        <button>entrar</button>
        <p class="message">Não possui cadastro? <a href="#">Crie uma conta</a></p>
        </form>
    </div>
    <script src="../dist/login.js"></script>
</body>
</html>