<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/sessaoVoluntariosAssociados.css">


    <title>Painel de perfil da empresa</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../assets/SAR-logo.png" alt="">
        </div>

        <span class="logo_name">SAR</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="../templates/homePerfil.html">
                <i class="uil uil-estate"></i>
                <span class="link-name">Home</span>
            </a></li>
            <li><a href="../templates/sessaoRefugiados.html">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Refugiados</span>
            </a></li>
            <li><a href="../templates/sessaoVoluntarios.html">
                <i class="uil uil-chart"></i>
                <span class="link-name">Voluntários</span>
            </a></li>
            <li><a href="../templates/sessaoVoluntariosAssociados.html">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Associados</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="../templates/editarPerfil.html">
                <i class="uil uil-signout"></i>
                <span class="link-name">Editar perfil</span>
            </a></li>

            <li class="mode">
                <a href="../templates/homePage.html">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <span class="text">Refugiados Associados</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">Associados</span>
                    <span class="number">0</span>
                </div>
                <div class="box box2">
                    <i class="uil uil-comments"></i>
                    <span class="text">Disponíveis</span>
                    <span class="number">0</span>
                </div>
                <div class="box box3">
                    <i class="uil uil-share"></i>
                    <span class="text">Total</span>
                    <span class="number">0</span>
                </div>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <span class="text">Lista dos voluntários associados pela instituição</span>
            </div>
            <div class="activity-data">
                <div class="data nome">
                    <span class="data-title">Nome</span>
                </div>
                <div class="data data-nascimento">
                    <span class="data-title">Data de nascimento</span>
                </div>
                <div class="data contato">
                    <span class="data-title">Contato</span>
                </div>
                <div class="data formacao">
                    <span class="data-title">Formação</span>
                </div>
                <div class="data email">
                    <span class="data-title">Email</span>
                </div>
                <div class="data action">
                    <span class="data-title">Ação</span>
                </div>
            </div>
        </div>
    </div>
    <a href="../templates/formularioVoluntarioAssociado.html" class="session-button">Cadastrar voluntário</a>
</section>

<script src="../dist/sessaoVoluntariosAssociados.js"></script>
</body>
</html>