@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    border: 100px;
}

#container2 {
    display: flex;
    justify-content: space-around;
    
}

#texto1 {
    font-family: "Roboto", sans-serif;
    margin: 70px;
}

#texto2 {
    font-family: "Roboto", sans-serif;
    margin: 70px;
    
}

body{
    background: whitesmoke;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    color:#ffffff;
    background-color: #23b6e2;
    display: block;
    width: 320px;
    height: 55px;
    border-radius: 12px;
}

#tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

img {
    width: 120px;
    height: 100px;
}

#menu {
    background: #ffffff;
    border: 1px black;
    padding: 5px;
}

a {
    color: #23b6e2;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    margin-top: -7px;
    margin-left: -7px;
    margin-right: -7px;
    padding: 20px 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

footer {
    background-color: #2f2f2f;
    color: #fff;
    padding: 20px 100px;
    text-align: center;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
}

.footer-links {
    margin-top: 35px;

}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007bff;
    text-decoration: underline;
}
